<div class="logo">Villa Loch'Crenn</div>
<div class="navbutton navbutton--Accueil"><p id="header_">Accueil</p></div>
<a href="villa.html"><div class="navbutton"><p id="txt1">La Villa</p></div></a>
<a href="alentours.html"><div class="navbutton"><p id="txt2">Alentours</p></div></a>
<a href="galerie.html"><div class="navbutton navbutton--Galerie"><p id="txt3">Galerie</p></div></a>
<a href="reserve.html"><div class="navbutton navbutton--Contact"><p id="txt4">Contact/Tarif</p></div></a>
<script src="../js/translateHeader.js"></script>